name: Daily Job Search Alert

on:
  schedule:
    - cron: "15 5 * * *"    # 12:15 AM EST
    - cron: "15 14 * * *"   # 9:15 AM EST
    - cron: "15 18 * * *"  # 1:15 PM EST
  workflow_dispatch:

jobs:
  job-search:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create requirements.txt and Install System Dependencies
        run: |
          echo "python-jobspy" > requirements.txt
          echo "pandas" >> requirements.txt

          sudo apt-get update
          sudo apt-get install -y chromium-browser

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run job scraper
        env:
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
          LINKEDIN_EMAIL: ${{ secrets.LINKEDIN_EMAIL }}
          LINKEDIN_PASSWORD: ${{ secrets.LINKEDIN_PASSWORD }}
        run: python job_alert_multi.py
