name: Daily Job Search Alert

on:
  schedule:
    # 05:00 UTC = 00:00 AM EST (for standard time).
    - cron: "0 5 * * *" 
  workflow_dispatch: {} # Allows manual triggering for testing

jobs:
  job-search:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10" 

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run search and email results
        env:
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SMTP_HOST: ${{ secrets.SMTP_HOST }} 
          SMTP_PORT: ${{ secrets.SMTP_PORT }} 
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
        run: python job_alert_multi.py
